{% extends 'home/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <form class="bg-white p-3 rounded shadow" action="" method="POST" accept-charset="utf-8" style="max-width: 350px;
                                                                                                    min-width: 350px;">
        {% csrf_token %}
        <p class="h3 text-center mb-3">Log in</p>
        {% if error %}
            <p style="color:red">Tài khoản hoặc mật khẩu không hợp lệ!</p>
        {% endif %}
        <div class="form-group">
            <label class="font-weight-bold text-secondary m-0" for="username">Username</label>
            <input class="form-control" id="username" name="username" type="text">
        </div>
        <div class="form-group">
            <label class="font-weight-bold text-secondary m-0" for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>
        <button class="btn btn-success btn-block">Log in</button>
        <!-- <button class="btn btn-danger btn-block mb-3">Log in with Google</button> -->
    </form>
</div>
{% endblock %}