{% load static %}
<!DOCTYPE html>
<html class="bg-barkground">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'preloader.css' %}">
	<link rel="stylesheet" href="{% static 'card.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<style type="text/css">
		html {
			font-family: 'Lato', sans-serif!important;
		}
		body {
			font-family: 'Lato', sans-serif!important;
		}
	</style>
	{% block header %}
	{% endblock %}
</head>
<body class="bg-barkground">

	<div class="preloader">
		<div class="lds-ripple"><div></div><div></div></div>
	</div>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
		<a href="{% url 'homepage' %}" class="navbar-brand">Django Blog</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">
			{% if user.username %}
				<li class="navbar-item">
					<p class="nav-link text-white m-0">{{ user.username }}</p>
				</li>
				<li class="navbar-item">
					<a href="{% url 'createpost' %}" class="nav-link">Create</a>
				</li>
				<li class="navbar-item">
					<a href="{% url 'logout' %}" class="nav-link">Log out</a>
				</li>
			{% else %}
				<li class="navbar-item">
					<a href="{% url 'signin' %}" class="nav-link">Sign In</a>
				</li>
			{% endif %}
			</ul>
		</div>
	</nav>

	<div class="container-fluid p-0 bg-dark" 
	     style="height: 300px;
	            overflow: hidden;
	            position: relative;">
		<p class="text-uppercase text-white" 
		   style="position: absolute;
		          left: 50%;
				  top: 50%;
				  font-size: 50pt;
		          transform: translate(-50%,-50%);
		          z-index: 10">BlogName</p>
		<img src="https://defaultcustomheadersdata.files.wordpress.com/2016/07/blur.jpg"
			 style="position: absolute;
			 		left:50%;
			 		top:50%;
			 		transform: translate(-50%,-50%);
			 		opacity: 0.6;">
		
    </div>
    {% block content %}{% endblock %}

	<div class="container-fluid bg-dark mt-5 px-5 pt-5">
		<div class="row">
			<div class="col-md mb-3">
				<p class="text-uppercase text-white font-weight-bold">Thông tin</p>
				<p class="text-secondary font-weight-bold m-0">Tên: Lê Viết Hưng</p>
				<p class="text-secondary font-weight-bold m-0">Nghề nghiệp: Sinh viên</p>
			</div>
			<div class="col-md mb-3">
				<p class="text-uppercase text-white font-weight-bold">Kết nối với tôi</p>
				<a href="#" class="m-0">Facebook</a>
			</div>
		</div>
		<div class="mt-5">
			<p class="text-secondary font-weight-bold text-center m-0">Made by LeVietHung 2019</p>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
   $(window).on('load',function(){
		$('.preloader').fadeOut('slow');
	});
</script>
{% block script %}{% endblock %}
</html>