{% extends 'home/base.html' %}

{% block title %}
	Edit Post
{% endblock %}

{% block header %}
	<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<form action="" class="bg-white p-3 rounded shadow" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p class="h3 text-center mb-3 font-weight-bold">Create Post</p>
			<div class="form-group">
				<label class="m-0 text-secondary font-weight-bold">Title</label>
				<input type="text" name="title" class="form-control" value="{{ post.title }}">
			</div>
			<div class="form-group">
				<label class="m-0 text-secondary font-weight-bold">Content</label>
				<textarea type="text" name="content" class="form-control" rows=20 id="editor1">{{post.content|safe}}</textarea>
			</div>
			<div class="form-group">
				<label class="m-0 text-secondary font-weight-bold">Image</label>
				{{ form.image }}
			</div>
			<button type="submit" value="submit" class="btn btn-success btn-lg btn-block">Submit</button>
		</form>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	CKEDITOR.replace('editor1')	
</script>
{% endblock %}