{% extends 'home/base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="container-fluid mt-5">
		<div class="d-flex flex-wrap justify-content-center">
			{% for post in posts %}
			<div class="m-3 rounded bg-white shadow">
				<div style="max-width: 500px">
					<p class="h3 text-dark p-3 font-weight-bold m-0">{{ post.title }}</p>
					<div class="box-img">
					<img src="/media/{{ post.image }}" 
					     style="width:100%;
								height: auto;">
					</div>
					<p class="px-3 pt-3 text-dark m-0">{{ post.content|truncatewords:50 }}</p>
					<a class="text-primary p-3" href="{% url 'singlepost' post.uuid %}">Continue Reading -></a>
					<p class="small text-secondary font-weight-bold p-3 m-0 mt-4">{{ post.time }}</p>
				</div>
			</div>
			{% endfor %}
		</div>

		<center><a href="#" class="btn btn-dark mt-3">Bài cũ hơn</a></center>
	</div>

{% endblock %}