{% extends 'home/base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="container-fluid mt-5">
		<div class="d-flex flex-wrap justify-content-center">
			{% for post in posts %}
			<div class="m-3 rounded bg-white shadow">
				<div style="max-width: 500px">
					<p class="h3 text-dark p-3 font-weight-bold m-0">{{ post.title }}</p>
					<div class="box-img">
					<img src="/media/{{ post.image }}" 
					     style="width:100%;
								height: auto;">
					</div>
					<div class="px-3 pt-3">
						{{ post.content|safe|truncatewords:50 }}
					</div>
					<a class="text-primary p-3" href="{% url 'singlepost' post.uuid %}">Continue Reading -></a>
					<p class="small text-secondary font-weight-bold p-3 m-0 mt-4">{{ post.time }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="d-flex justify-content-center mt-5">
		{% if posts.has_previous %}
		<a href="?page={{ posts.previous_page_number }}" class="btn btn-primary m-1">&laquo; Previous</a>
		{% endif %}
		<a href="?page=1" class="btn btn-primary m-1">1</a>
		<a href="?page={{ posts.paginator.num_pages }}" class="btn btn-primary m-1">{{ posts.paginator.num_pages }}</a>
		{% if posts.has_next %}
		<a href="?page={{ posts.next_page_number }}" class="btn btn-primary m-1">Next &raquo;</a>
		{% endif %}
	</div>

{% endblock %}