{% extends 'home/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="rounded bg-white shadow">
        <div class="border">
            <div class="d-flex justify-content-between p-4">
                <p class="h3 text-dark text-uppercase font-weight-bold m-0">{{ post.title }}</p>
                {% if user.username %}
                    <a class="btn btn-primary" href="{% url 'editpost' post.uuid %}">Edit</a>
                {% endif %}
            </div>
            <div>
            <img src="/media/{{ post.image }}" 
                 style="width:100%;
                        height: auto;">
            </div>
            <p class="px-4 pt-3 text-dark m-0">{{ post.content}}</p>
            <p class="small text-secondary font-weight-bold p-3 m-0 mt-4">{{ post.time }}</p>
        </div>
    </div>
</div>
{% endblock %}